:root {
    /* change the values below to your colors from your palette */
    --primary-color: #415a77   ;
    --secondary-color: #E0E1DD ;
    --accent1-color: #FFFFFF;
    --accent2-color: #0D1B2A;
  
    /* change the values below to your chosen font(s) */
    --heading-font: Abel;
    --paragraph-font: "Fjalla One", Helvetica, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #415A77;  /* headlines on a white background */ 
    --headline-color-on-color: #E0E1DD; /* headlines on a colored background */ 
    --paragraph-color-on-white: #0D1B2A; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #ffffff; /* paragraph text on a colored background */ 
    --paragraph-background-color: #0D1B2A  ;
    --nav-link-color: #FFFFFF;
    --nav-background-color: #0D1B2A;
    --nav-hover-link-color: #E0E1DD;
    --nav-hover-background-color: #415A77;
  }

header {
    font-family: Helvetica, "Fjalla One", sans-serif;
    display: flex;
    padding: 1em;
    text-align: center;
    align-items: center;
    color: var(--paragraph-color-on-color);
    background-color: var(--paragraph-background-color);
}

header nav {
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin-left: auto;
}

header nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 30px;
    margin: -30px;
    font-size: 1.2em;
}

header nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    padding: 30px;
}

body {
    display: flex;
    margin: 0 auto;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--secondary-color);
}

main {
    margin: 0 auto;
    background-color: var(--primary-color);
    min-width: 700px;
    max-width: 1200px;
    flex-grow: 1;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 90%;
    padding: 20px;
}

main p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-color);
    font-size: 1.2em;
    line-height: 1.5;
    padding: 10px 45px 40px 45px;
    margin: 0 0 1em;
    text-align: justify;
    text-shadow: 1px 1px #000000;
}

footer {
    font-family: Helvetica, "Fjalla One", sans-serif;
    margin: 0;
    text-align: center;
    color: var(--paragraph-color-on-color);
    background-color: var(--paragraph-background-color);
    width: 100%;
    height: 80px;
    flex-shrink: 0;
}

.history-content {
    display: flex;
    align-items: start;
}

.history-content img {
    width: 40%;
    margin-right: 20px;
    padding-left: 40px;
}

.history-content p {
    width: 60%;
    padding-left: 30px;
    padding-top: 30px;
}

.history-content2 {
    display: flex;
    align-items: start;
}

.history-content2 img {
    width: 40%;
    margin-right: 20px;
    padding-left: 20px;
}

.history-content2 p {
    width: 60%;
    padding-left: 30px;
    padding-top: 30px;
}

.cardBreakdown #header, .untapMagic #header, .upkeepMagic #header,
.pcmMagic #header, .combatMagic #header, .postCombatMagic #header,
.endMagic #header {
    background-color: var(--secondary-color); /* Adjust this value */
    color: #000; /* Adjust this value */
    padding: 3px; /* Adjust this value */
    display: inline-block;
    vertical-align:middle;
    margin-right: 10px; /* Adjust this value */
}
.cardBreakdown, .untapMagic, .upkeepMagic, .pcmMagic,
.combatMagic, .postCombatMagic, .endMagic {
    background-color: var(--secondary-color); /* Adjust this value */
    color: #000; /* Adjust this value */
    padding: 10px; /* Adjust this value */
    display: inline-block;
    text-align: left;
    margin: 3px 45px; /* Adjust this value */
    width: calc(100% - 110px); /* New */
}

.cardBreakdown h2 {
    margin: 0 auto;
}

#header {
    font-family: var(--heading-font);
    color: var(--headline-color-on-color);
    text-shadow: 1px 1px #ffffff;
    text-align: center;
    padding: 10px;
    margin: 0;

}

.cardBreakdown p, .untapMagic p, .upkeepMagic p, .pcmMagic p,
.combatMagic p, .postCombatMagic p, .endMagic p{
    color: var(--headline-color-on-white);
    text-shadow: 1px 1px #ffffff;
    padding: 5px;
}

.cardBreakdown img {
    width: 50%;
    height: auto;
    border-radius: 10px;
}
#moreInfoButton {
    vertical-align: middle;
    /* Add any specific styles for the button here */
}

#playHeader {
    font-size: 2.5em;
    font-family: var(--heading-font);
    color: var(--headline-color-on-color);
    text-shadow: 1px 1px #000000;
    text-align: center;
    padding: 10px;
    margin: 0;
}

#callAction {
    padding-bottom: 2px;
}